.posts-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-image:
    linear-gradient(rgba(6, 173, 219, 0.8), rgba(6, 173, 219, 0.8)),
    url('/public/images/posts-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  & > span {
    color: $white;
    font-weight: 300;
  }
}

@media only screen and (min-width: 768px) {
  .posts-image {
    height: 35vh;
  }
}

@media only screen and (min-width: 1024px) {
  .posts-image {
    height: 40vh;
  }
}
