node_modules
api-server/node_modules
.env

# Cruft
.DS_Store
npm-debug.log
.idea

public/*.svg
public/*.js
public/*.js.gz
public/*.css
public/*.html
public/*.js
public/*.gz
public/*.css
public/*.map
public/*.jpg
public/views/index.pug
