.form-input,
.form-dropdown > div {
  border: none;
  border-bottom: 1px solid $blue;
  border-radius: 0;
  padding-left: 0;
}

.form-dropdown {
  margin-top: 1rem;
}

.form-submit-button {
  margin-top: 1rem;
}

.form-buttons-container {
  display: flex;
  justify-content: center;
}
