.card-box {
  .media-content {
    .card-header {
      overflow: hidden;
      justify-content: space-between;

      .post-header {
        padding-top: 0;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 0.5rem;

        .post-title {
          padding-bottom: 0.2rem;
        }

        .post-title:hover,
        .post-category:hover {
          color: $dark-blue !important;
        }
      }

      .card-header-icon {
        padding-top: 0;
        align-items: flex-start;

        .ant-dropdown-trigger {
          transform: rotateZ(90deg);

          &:hover {
            color: $dark-blue;
          }
        }
      }
    }

    .post-description {
      padding-top: 1rem;
    }
  }
}

.post-box {
  transition: box-shadow 0.3s linear;

  &--border {
    &:hover {
      box-shadow: 0 2px 3px rgba(6, 173, 219, 0.7), 0 0 0 1px rgba(6, 173, 219, 0.7);
    }
  }
}

.vote-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  .is-box-layout {
    .level {
      flex-direction: column;
      align-items: flex-start;

      &-left {
        padding-bottom: 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .post-box {
    padding: 0.75rem;

    .post-title {
      line-height: 1.2;
    }

    .post-subtitle {
      font-size: 0.65rem !important
    }
  }

  .anticon-ellipsis {
    font-size: 1.5rem !important;
  }
}

.ant-spin {
  min-height: 25vh;
}
