.navbar {
  -webkit-box-shadow: 0 3px 10px -1px rgba($black, 0.45);
  -moz-box-shadow: 0 3px 10px -1px rgba($black, 0.45);
  box-shadow: 0 3px 10px -1px rgba($black, 0.45);

  .navbar-brand {
    align-items: center;
    padding-left: 1rem;
    font-size: 1.5rem;

    .navbar-item {
      padding: 1.3rem 1rem 0.3rem 1rem;
      font-weight: 300;
      letter-spacing: 0.6rem;
    }

    svg {
      padding-right: 1rem;

      path {
        fill: $blue;
      }
    }
  }

  .navbar-menu {
    .navbar-start {
      padding-left: 1rem !important;

      .navbar-item {
        border-left: 3px solid transparent;
        font-weight: 300;
        min-width: 5.7rem;

        &:hover,
        &.is-active {
          font-weight: 500;
          border-left-color: $blue;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .navbar {
    .navbar-brand {
      .navbar-item {
        padding: 0 1rem;
      }
    }

    .navbar-menu {
      display: block;
      padding: 0;
      overflow: hidden !important;
      max-height: 0 !important;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      transition: all 0.5s linear;

      &.is-active {
        padding: 0.5rem 0;
        max-height: 500px !important;
      }

      .navbar-start {
        padding-left: 2rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    justify-content: center;

    .navbar-brand {
      letter-spacing: 0.3rem;
      padding: 0;
      margin-right: 5rem;
      margin-left: -5rem;

      .navbar-item {
        padding-right: 0;
      }
    }

    .navbar-menu {
      flex-grow: 0;

      .navbar-start {
        margin: 0;

        .navbar-item {
          justify-content: center;
          padding: 1.3rem 1rem 0rem 1rem;
          border-left: none;
          border-bottom: 5px solid transparent;

          &:hover,
          &.is-active {
            font-weight: 500;
            border-bottom-color: $blue;
          }
        }
      }
    }
  }

}
