// Typewriting effect
.anim-typewriter{
  animation: typewriter 1.7s steps(28) 1s 1 normal both,
             blinkTextCursor 500ms steps(28) infinite normal;
}

@keyframes typewriter{
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

@keyframes blinkTextCursor{
  from {
    border-right-color: $primary-text-color;
  }
  to{
    border-right-color: transparent;
  }
}
