$black:     #2e3d49 !default;           //rgb(46, 61, 73)
$blue:      #02b3e4 !default;           //rgb(2, 179, 228)
$dark-blue: #0191e4 !default;           //rgb(1, 145, 228)
$white:     #fff !default;              //rgb(255, 255, 255)
$red:       #ff3860 !default;           //rgb(255, 56, 96)
$green:     #16c26b !default;           //rgb(22, 194, 107)
