// Responsive values
$gap: 32px;
$tablet: 768px;

// HEADER
$navbar-height: 5.5rem;
$navbar-background-color: $white;
$navbar-item-color: $black;
$navbar-item-hover-color: $black;
$navbar-item-hover-background-color: $white;

// CARD
$card-header-shadow: 0 1px 0px rgba($black, 0.1);
