.control-filters__container {
  display: flex;
  flex-direction: column;

  .control-filters--label {
    font-size: 0.75rem;
  }

  .control-filters--buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1rem;

    .ant-select {
      width: 10rem;
      font-size: 0.75rem;

      &:first-child {
        margin-bottom: 0.5rem;
      }
    }
  }

  .control-filters--layout {
    display: flex;
    align-items: center;

    &-button {
      font-size: 1.5rem;

      &:hover > svg > path {
        transition: fill 0.3s ease;
        fill: $blue;
      }

      & > svg > path {
        fill: $black;
      }

      &-active {
        font-size: 1.5rem;

        &:first-child {
          margin-right: 1rem;
        }
      }

      &:first-child {
        margin-right: 1rem;
      }

      &-active > svg > path {
        fill: $blue;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .control-filters__container {
    .control-filters--label {
      font-size: 0.9rem;
    }

    .control-filters--buttons {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-right: 0;

      .ant-select {
        width: 8rem;
        font-size: 0.9rem;

        &:first-child {
          margin-right: 0.5rem;
          margin-bottom: 0;
        }
      }
    }
  }
}
