.controls-container {
  top: 5.5rem;
  position: -webkit-sticky;
  position: sticky;
  background: $white;
  z-index: 1;
  border-bottom: 1px solid rgba($black,0.1);
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.control-new-post {
  display: flex;
  width: 100%;

  &-button {
    width: 100%;
    font-size: 0.89rem !important;
  }
}

@media only screen and (min-width: 768px) {
  .controls-container {
    margin-top: -1rem;
  }

  .control-new-post {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    &-button {
      font-size: 0.89rem !important;
    }
  }
}
