.comments__container {
  margin-top: 1rem;
  padding: 0.75rem;

  .comment__container {
    box-shadow: 0 1px 0 rgba(46, 61, 73, 0.1);
    margin-bottom: 0.5rem;

    &:last-child,
    .box {
      box-shadow: none;
    }

    .comment-description {
      padding-top: 0.5rem;
    }
  }

  .comments__header {
    box-shadow: none;

    &--text {
      width: 100%;
      border-bottom: 2px solid $blue;
      padding-bottom: 0.75rem;
      letter-spacing: 0.1rem;
    }

    &--author {
      display: flex;
      align-items: center;

      .anticon {
        margin-right: 0.5rem;
      }
    }
  }
}

.level.is-comment {
  justify-content: flex-start;

  .comment-reply {
    margin-left: 1rem;

    svg {
      margin-right: 0.5rem;
    }

    &:hover {
      color: $dark-blue;

      & > svg > path {
        fill: $dark-blue;
      }
    }
  }
}

.is-comment-reply {
  .comments__container {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0 0 0.75rem 0;

    .comments__header {
      width: 100%;

      .comments__header--text {
        display: none;
      }
    }
  }
}
