.control-filters__container {
  display: flex;
  flex-direction: column;

  .control-filters--label {
    font-size: 0.75rem;
  }

  .control-filters--buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1rem;

    .ant-select {
      font-size: 0.75rem;

      &:first-child {
        margin-bottom: 0.5rem;
      }
    }

    .control-filters--layout {
      display: flex;
      align-items: center;

      &-button {
        font-size: 1.5rem;

        & > svg > path {
          fill: $black;
        }

        &-active {
          font-size: 1.5rem;

          &:first-child {
            margin-right: 1rem;
          }
        }

        &:first-child {
          margin-right: 1rem;
        }

        &-active > svg > path {
          fill: $blue;
        }
      }
    }
  }
}

.control-new-post {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  &-button {
    font-size: 0.89rem !important;
  }
}

@media only screen and (min-width: 768px) {
  .control-filters__container {
    .control-filters--label {
      font-size: 0.9rem;
    }

    .control-filters--buttons {
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      .ant-select {
        font-size: 0.9rem;
        margin-right: 1rem;

        &:first-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .control-new-post {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    &-button {
      font-size: 0.89rem !important;
    }
  }
}
