<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=5.0, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title="OMAIA BLOG - Rafael Maia Chieregatto"
        link(rel="shortcut icon", href="/public/icons/favicon.ico")
    body.has-navbar-fixed-top
        div(id="root")
